# Visual Studio cache directory
.vs/
.vscode/
.idea
.DS_Store
node_modules/
Build*.pdf

# scratchpad is the unity bookmarking tool format. Each user has their own set of bookmarks, so let's not commit this.
*.scratchpad

client-unity/.vsconfig
client-unity/Version.txt
client-unity/Config.json
client-unity/InitCodeMarker

.terraform.lock.hcl
